@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #f7fafc;
  margin: 4px;
}

#select-type > select {
  @inherit: .text-gray-900, .bg-gray-300, .w-full, .py-2, .px-1, .appearance-none;
}
